.backgroundnone{
  background: none;
}
.bgchangenight{
  /* background-image: url(../images/shooting-sta.svg); */
  height: 100%;
  width: 100%;
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.bgchangemorning{
  /* background-image: url(../images/rise.jpg); */
  height: 100%;
  width: 100%;
  position: relative;
 color: white;
  background-repeat: no-repeat;
  background-size: cover; 
}
.bgchangemorning ::after{
  content: "";
  position: absolute;
  background-color: black;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 5;
}
.bgchangeday{
  /* background-image: url(../images/day.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 85vw;
  color: white;
}
.bgchangeevening{
  /* background-image: url(../images/sunset.svg); */
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
}

body{
  margin: 0;
  padding: 0;
}

.screen{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.box{
  height: 70%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main{
  width: 60%;
  height: 80%;
  /* background-color: aquamarine; */
}
.extra{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5vw;
}
.extra2{
  padding: 20px;
  background: none !important;
}
.extrainfo{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
  margin-bottom: 20px;
}
.temperature{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  /* background-color: #87CEEB; */
  margin: 0;
  padding: 0;
}
.temp{
  font-size: 6vw;
  margin: 0;
  padding: 0;
  background: none;
}
.tempdeg{
  font-size: 2.5vw;
  height: 7vw;
}
.minmax{
  text-align: center;
  word-spacing: 50px;
  margin-top: -10px;
  font-size: 1.5vw;
  /* background-color: yellow; */
  display: flex;
  justify-content:center;
  align-items: center;
}
.cityname{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1px;
  font-size: 2vw;
}
.iconweather{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -5px;
}
.WiDaySunny{
    transform: rotate(-45deg) !important;
    animation: mymove 3s infinite linear;
    animation-direction: alternate;
    z-index: 100;
    background: transparent;
  }
  
  @keyframes mymove {
    0% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
  }
  .WiDaySunny2{
    animation: mymove2 3s infinite linear;
    animation-direction: alternate;
  }
  @keyframes mymove2 {
    0% {transform: rotate(-45deg);}
    100% {transform: rotate(-40deg);}
  }
  .WiDaySunny3{
    animation: mymove3 3s infinite linear;
    animation-direction: alternate;
    background: none !important;
  }
  @keyframes mymove3 {
    0% {transform: rotate(-5deg);}
    100% {transform: rotate(5deg);}
  }

.upcomingdays{
  /* background-color: bisque; */
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.day1{
  display: inline-block;
  text-align: center;
  background-color: transparent;
  padding: 15px;
  font-size: 1.1vw;
  position: relative;
  z-index: 1;
}
.day1::after{
  content: "";
  background-color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.2;
  z-index: 2;
  box-shadow: 0px 0px 20px 0px white;
  color: white;
}
.extra2{
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  line-height: 0em;
  background: none !important;
}


@media only screen and (max-width: 840px) {
  .main{
    width: 100%;
  }
  .day1{
    font-size: 2vw;
  }
  .temp{
    font-size: 10vw;
  }
  .minmax{
    font-size: 2.5vw;
  }
  .cityname{
    font-size: 3vw;
  }

}



@media only screen and (max-width: 450px) {
  .bgchangenight{
    /* background-image: url(../images/shooting-sta.svg); */
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgchangemorning{
    /* background-image: url(../images/rise1.jpg); */
   color: white;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgchangeday{
    /* background-image: url(../images/day2.jpg); */
    background-repeat: no-repeat;
    background-size: cover;
  }
  .bgchangeevening{
    /* background-image: url(../images/sunset.svg); */
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
  }
  body{
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .main{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 85%;
    overflow-x: hidden;
    overflow-y: scroll;
    /* background-color: aquamarine; */
  }
  .extra{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3vh;
  }
  .extrainfo{
    display: flex;
    align-items: center;
    justify-content:space-evenly;
  }
  .temperature{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* background-color: #87CEEB; */
    margin: 0;
    padding: 0;
  }
  .temp{
    font-size: 13vh;
    margin: 0;
    padding: 0;
  }
  .tempdeg{
    font-size: 3vh;
    height: 7vh;
  }
  .minmax{
    text-align: center;
    word-spacing: 40px;
    margin-top: -10px;
    /* background-color: yellow; */
    display: flex;
    justify-content:center;
    align-items: center;
    font-size: 3vh;
  }
  .cityname{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    font-size: 4vh;
  }
  .iconweather{
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #87CEEB; */
    margin: -5px;
  }
  .WiDaySunny{
      animation: mymove 8s infinite linear;
      animation-direction: alternate;
      z-index: 100;
      background: transparent;
    }
    
    @keyframes mymove {
      0% {transform: rotate(-5deg);}
      100% {transform: rotate(5deg);}
    }
    .WiDaySunny2{
      animation: mymove2 3s infinite linear;
      animation-direction: alternate;
    }
    @keyframes mymove2 {
      0% {transform: rotate(-45deg);}
      100% {transform: rotate(-40deg);}
    }
    .WiDaySunny3{
      animation: mymove3 3s infinite linear;
      animation-direction: alternate;
    }
    @keyframes mymove3 {
      0% {transform: rotate(-5deg);}
      100% {transform: rotate(5deg);}
    }
  
  .upcomingdays{
    /* background-color: bisque; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: hidden;
  }
  .day1{
    display: inline-block;
    text-align: center;
    border: 1px solid black;
    position: relative;
    padding: 2px;
    margin-bottom: 5px;
    font-size: 3vw;
  }
  .day1::after{
    content: "";
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.2;
    z-index: -1;
    /* box-shadow: 0px 0px 20px 0px white; */
    box-shadow:  none !important;
  }
  .extra2{
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    line-height: 0em;
    background-color: none !important;
  }
  }







  @media only screen and (max-width: 300px) {
    .bgchangenight{
      /* background-image: url(../images/shooting-sta.svg); */
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bgchangemorning{
      /* background-image: url(../images/rise1.jpg); */
     color: white;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bgchangeday{
      /* background-image: url(../images/day3.jpg); */
      background-repeat: no-repeat;
      background-size: cover;
    }
    .bgchangeevening{
      /* background-image: url(../images/sunset.svg); */
      color: white;
      background-repeat: no-repeat;
      background-size: cover;
    }
    body{
      margin: 0;
      padding: 0;
      width: 100vw;
    }
    .main{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 95%;
      /* background-color: aquamarine; */
    }
    .extra{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 3vh;
    }
    .extrainfo{
      display: flex;
      align-items: center;
      justify-content:space-evenly;
    }
    .temperature{
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      /* background-color: #87CEEB; */
      margin: 0;
      padding: 0;
    }
    .temp{
      font-size: 13vh;
      margin: 0;
      padding: 0;
    }
    .tempdeg{
      font-size: 3vh;
      height: 7vh;
    }
    .minmax{
      text-align: center;
      margin-top: -10px;
      /* background-color: yellow; */
      display: flex;
      justify-content:center;
      align-items: center;
      font-size: 2vh;
    }
    .cityname{
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 5px;
      font-size: 4vh;
    }
    .iconweather{
      display: flex;
      align-items: center;
      justify-content: center;
      /* background-color: #87CEEB; */
      margin: -5px;
    }
    .WiDaySunny{
        animation: mymove 8s infinite linear;
        animation-direction: alternate;
        z-index: 100;
        background: transparent;
      }
      
      @keyframes mymove {
        0% {transform: rotate(-5deg);}
        100% {transform: rotate(5deg);}
      }
      .WiDaySunny2{
        animation: mymove2 3s infinite linear;
        animation-direction: alternate;
      }
      @keyframes mymove2 {
        0% {transform: rotate(-45deg);}
        100% {transform: rotate(-40deg);}
      }
    
    .upcomingdays{
      /* background-color: bisque; */
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
      overflow: hidden;
    }
    .day1{
      display: inline-block;
      text-align: center;
      border: 1px solid black;
      position: relative;
      padding: 2px;
      margin-bottom: 5px;
      font-size: 3vw;
    }
    .day1::after{
      content: "";
      background-color: rgb(255, 255, 255);
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.2;
      z-index: -1;
      box-shadow: 0px 0px 20px 0px white;
    }
    .extra2{
      display: flex;
      align-items: center;
      padding: 0;
      margin: 0;
      line-height: 0em;
    }
    }
