.everyhome{
    height: 100vh;
    width: 99vw;
    overflow: hidden;
    background-color: rgb(33,37,41) !important;
}
.everyabout{
    height: 100vh;
    width: 99vw;
    overflow: hidden;position: sticky;
    top: 8vh;
    background-color: rgb(33,37,41) !important;
    z-index: 100 !important;
}
.everyproject{
    height: 100vh;
    width: 99vw;
    overflow: hidden;
    position: sticky;
    top: 8vh;
    background-color: rgb(33,37,41) !important;
    z-index: 100 !important;
}
.everycontact{
    height: 100vh;
    width: 99vw;
    overflow: hidden;
    position: sticky;
    top: 8vh;
    background-color: rgb(33,37,41) !important;
    z-index: 100 !important;
}