* {
  margin: 0;
  padding: 0;
  z-index: 0;
  /* background-color: rgb(33,37,41); */
  /* background-image: url(./logos/bgcoding.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Nunito Sans', sans-serif;
} 
body{
  background-color: rgb(33,37,41) !important;
}
/* body::before{
  background-image: url(./logos/bgsc.png) !important;
  background-repeat: repeat;
  background-size: cover;
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0.09; 
  filter: blur(3px);
  -webkit-filter: blur(3px);
} */
@media only screen and (min-width:992px) {
  *{
  /* background-color: rgb(33,37,41);  */
  }
}

                                                     /* scrollbar  */
/* width */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: limegreen; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: limegreen; 
}
                                                    /* loader */
.loader{
  background:"none";
   display:"flex";
  align-items:"center";
  justify-content:"center";
   width:"80vw";
}    
@media only screen and (min-width:992px) {
  .loader{
    background:"none";
     display:"flex";
    align-items:"center";
    justify-content:"center";
     width:"100vw" !important;
  }  
}                                              

                                                      /* loader ends  */

.navibar2{
  display: none;
  z-index: 100;
}
.fontnav{
  font-size: 5em !important;
}

                                                                  /* Navbar */
.navibar{
  z-index: 10000 !important;
}
.kaala{
  background-color: black !important;
}
.absolute{
  position: absolute;
  z-index: 100;
  width: 100%;
}
.relative{
  position: relative;
  z-index: 100;
  width: 100%;
}
.navbar-toggler{
  border: none !important;
}
.navbar-toggler {
  color: transparent !important;
}
.idesign{
  width: 100%;
  position: fixed;
}
.fix2{
  position: fixed;
  z-index: 100;
  width: 100%;
}
@media only screen and (min-width:992px) {

  .activeline {
    color: rgb(227, 227, 227) !important;
    padding: 1px !important;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
    border-radius: 3px;
  }


  .activeline2 {
    border-bottom: 3px solid limegreen;
    color: limegreen !important;
    padding-bottom: 2px;
    border-radius: 3px;
    opacity: 1;
    animation: line 1.5s  ;
    animation-direction: alternate;
    animation-iteration-count: 0.5;
  }
  @keyframes line {
    from{opacity: 0.8; border-bottom: 3px solid transparent;}
    to{opacity: 1; border-bottom: 3px solid limegreen;}
  }
}

                                                                /* Navbar end  */

                                                                /* Home strt  */
.textbodymain {
  position: fixed;
  /* background-color: black; */
  /* background-color: rgb(33,37,41); */
  display: flex;
  font-size: 3em;
  align-items: center;
  justify-content: center;
  color: white;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  overflow: hidden;
}

.textarea1 {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: absolute;
  border-right: 0.15em solid rgb(255, 255, 255);
  max-width: 52vw;
  overflow: hidden;
  border-right: 0.15em solid rgb(255, 255, 255);
  white-space: nowrap;
  font-size: 3vw;
  width: 0px;
  animation: typing 3s steps(35, end) forwards;
}

.textarea2 {
  color: greenyellow;
  height: auto;
  top: 55%;
  border-right: 0.15em solid greenyellow;
  position: absolute;
  max-width: 255px;
  overflow: hidden;
  border-right: 0.15em solid greenyellow;
  white-space: nowrap;
  font-size: 3rem;
  width: 0px;
  animation: typing2 5s steps(35, end) forwards, blink 0.8s infinite;
  animation-delay: 3s;
}

@keyframes typing2 {
  from {
    width: 0;
    display: none;
  }

  to {
    width: 100%;
    display: block;
  }
}

@keyframes blink {
  from {
    border-color: transparent;
  }

  to {
    border-color: greenyellow;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}



@media screen and (max-width: 576px) {
  .textarea1 {
    font-size: 5.7vw;
    max-width: 99vw;
    width: 0px;
    padding: 3px;
  }

  .textarea2 {
    font-size: 10vw;
    max-width: 60vw;
    padding: 3px;
  }

  .textbodymain {
    animation-delay: 8s;
    justify-content: left;
  }
}

@media screen and (max-width: 1100px) and (min-width: 576px) {
  .textarea1 {
    font-size: 4vw;
    max-width: 70vw;
    width: 0px;
    padding: 3px;
  }

  .textarea2 {
    font-size: 5vw;
    max-width: 30vw;
    padding: 3px;
  }

  .textbodymain {
    animation-delay: 8s;
    justify-content: center;
  }
}
@media only screen and (max-width:450px) {
  .textarea1 {
    display: none;
  }
  .textarea2 {
    display: none;
  }

  .textbody2 {
    position: fixed;
    background-color: rgb(33,37,41);
    font-size: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .textareab1 {
    height: auto;
    width: 90vw;
    overflow: hidden;
    font-size: 12vw;
    animation: smallscreentextani 2s  ;
    animation-direction: alternate;
    animation-iteration-count: infinite;
  }

  @keyframes smallscreentextani {
    from {color: rgb(158, 158, 158);}
    to {color: rgb(255, 255, 255);}
  }
  
  .hireme{
    color: greenyellow;
    height: 20vw;
    width: 70vw;
    overflow: hidden;
    animation: smallscreentextani3 3s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }

  @keyframes smallscreentextani3 {
    from {width: 0vw;}
    to {width: 70vw;}
  }

  .firstletter{
    font-weight: bolder;
    color: greenyellow;
    animation: smallscreentextani2 2s;
    animation-iteration-count: 1;
  }

  @keyframes smallscreentextani2 {
    from {color: rgb(73, 73, 73);}
    to {color: greenyellow;}
  }
  .navdown{
    bottom: 0 !important;
  }
  .navup{
    top: 0;
    z-index: 100;
  }
  .navibar{
    display: none;
  }
  .navibar2{
    border-radius: 2px;
    background-color: rgb(34, 34, 34);
    display: flex;
    justify-content: center;
  }
  .idesign{
    border-radius: 2px;
    background-color: rgb(33,37,41);
    width: 100%;
    top: 0;
    z-index: 100 !important;
  }
  .activeline {
    color: rgb(249, 249, 249) !important;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
    border-radius: 3px;
    font-size: larger;
    padding: 3px !important;
    margin: 5px 6.5px 7px 6.5px  !important;
  }

  .activeline:hover {
    color: rgb(255, 255, 255) !important;
    animation-name: hoverani;
  }

  .activeline2 {
    border-bottom: 3px solid limegreen;
    color: limegreen !important;
    padding-bottom: 2px;
    border-radius: 3px;
  }
  .navitems1{
    padding: 9px 4px 16px 4px  !important;
  }
  .fix{
    position: fixed;
    z-index: 100;
    width: 100%;
  }
}

@media screen and (max-width: 345px){
  .activeline {
    color: rgb(227, 227, 227) !important;
    border-bottom: 3px solid transparent;
    padding-bottom: 2px;
    border-radius: 3px;
    font-size: large;
    padding: 3px !important;
    margin:  0  !important;
  }
  .activeline2 {
    border-bottom: 3px solid limegreen;
    color: limegreen !important;
    padding-bottom: 2px;
    border-radius: 3px;
  }
  .navitems1{
    padding: 4px 2px 15px 2px !important;
  }
  .fix{
    position: fixed;
    z-index: 100;
    width: 100%;
  }
}

                                                          /* Home end  */

                                                          /* Sidebar start  */

.sidebarmain{
  margin-top: 5px;
  color: white;
  background-color: rgb(33,37,41);
  height: 60vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  box-shadow: 0px 0px 6px 0.1px white;
  vertical-align: middle;
  display: inline;
  animation: displaychange1 2s  ;        /* shadow animation  */
  animation-direction: alternate;
  animation-iteration-count: 1;
}
.sidebarmain2{
  margin-top: 5px;
  color: white;
  background-color: rgb(33,37,41);
  height: 60vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 20px;
  box-shadow: 0px 0px 6px 0.1px white;
  vertical-align: middle;
  display: inline;
  /* animation: displaychange1 2s  ;       hide shadow animation  */
  /* animation-direction: alternate; */
  /* animation-iteration-count: 1; */
}
@keyframes displaychange1 {
  from {box-shadow: none; height: 0px;}
  to {box-shadow: 0px 0px 6px 0.1px white; height: 60vh;}
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sidebarmain::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebarmain {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.sidebarmain2::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sidebarmain2 {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.button1{
  border: 1px solid rgb(147, 147, 147);
  color: rgb(229, 229, 229);
  background-color: rgb(33,37,41);
  height: 30px;
  width: auto;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 15px;
  display: none;
}
.button2{
  border: 1px solid rgb(147, 147, 147);
  color: rgb(229, 229, 229);
  background-color: rgb(33,37,41);
  height: 30px;
  width: auto;
  padding: 10px;
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  font-size: 15px;
  display: none;
}

@media screen and (max-width: 991px){
  .sidebarresponsive1{
    height: 83vh !important;
    width: 100vw !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
  }
  .button1{
    display: flex;
  }
  .button2{
    display: flex;
  }
  .sidebarresponsive2{
    position: fixed;
    bottom: 0;
    justify-content: center;
    height: 10vh !important;
    width: 100vw !important;
    margin-bottom: 50px;
    z-index: 10 !important;
    background: none !important;
  }
  .sidebarmain{
    color: white;
    background-color: rgb(33,37,41);
    width: 100vw;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 20px;
    justify-content:space-between;
    display: flex;
    animation: none;
  }
  .sidebarmain2{
    color: white;
    background-color: rgb(33,37,41);
    width: 100vw;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 20px;
    justify-content:space-between;
    display: flex;
    animation: none;
  }
  .float{
    float: left;
    padding: 10px;
    overflow-x: hidden;
    word-wrap: break-word;
  }
@media screen and (max-width: 450px){
  .sidebarresponsive1{
    height: 83vh !important;
    width: 100vw !important;
  }
  .sidebarresponsive2{
    position: fixed;
    bottom: 0;
    justify-content: center;
    height: 10vh !important;
    width: 100vw !important;
    margin-bottom: 50px;
    z-index: 10 !important;
    background: none !important;
  }
  .sidebarmain{
    color: white;
    background-color: rgb(33,37,41);
    width: 100vw;
    height: 30vh;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 20px;
    justify-content:space-between;
    display: flex;
    position: absolute;
    bottom: 0;
    animation: none;
  }
  .sidebarmain2{
    color: white;
    background-color: rgb(33,37,41);
    width: 100vw;
    height: 30vh;
    overflow-x: scroll;
    overflow-y: scroll;
    padding: 20px;
    justify-content:space-between;
    display: flex;
    position: absolute;
    bottom: 0;
    animation: none;
  }
  .float{
    font-size: small;
    float: left;
    padding: 10px;
    overflow-x: hidden;
    word-wrap: break-word;
  }
  .button1{
    position: absolute;
    bottom: 50px !important;
  }
  .button2{
    position: absolute;
    bottom: 0 !important;
  }
}
@media screen and (min-width: 0px) and (max-width: 290px){
  .button1{
    position: absolute;
    bottom: 50px !important;
    opacity: 0.7;
    font-size: 10px;
    padding: 5px;
    height: auto;
    width: auto;
    margin: 3px;
  }
}


                                                          /* Project start  */

.background{
    background-color: rgb(33,37,41);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }
}
.sidebarresponsive1{
  /* position: fixed !important; */
  height: 100vh !important;
  width: 83vw !important;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
}
@media screen and (max-width: 991px){
  .sidebarmain{
    color: white;
    background-color: rgb(33,37,41);
    width: 100vw;
    height: 30vh;
    overflow-y: scroll;
    padding: 20px;
    justify-content:space-between;
    display: flex;
    position: absolute;
    bottom: 0;
    animation: none;
  }
  .sidebarmain2{
    color: white;
    background-color: rgb(33,37,41);
    width: 100vw;
    height: 30vh;
    overflow-y: scroll;
    padding: 20px;
    justify-content:space-between;
    display: flex;
    position: absolute;
    bottom: 0;
    animation: none;
  }
  .sidebarresponsive1{
     position: fixed !important;
    height: 100vh !important;
    width: 100vw !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
  }
  .sidebarresponsive2{
    /* height: 100vh !important; */
    width: 100vw !important;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    margin: 0px !important;
    z-index: 10 !important;
  }
.background {
    background-color: rgb(33,37,41);
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}
}

                                                            /* Digital Clock */
.input{
  width: 50px;
  text-align: center;
}
.mainstop{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 5vw;
  color: white;
  margin: 0 !important;
  padding: 2vw;
  box-shadow: 0px 0px 5px 0.1px white;
  /* margin: -2vw; */
  position: relative;
}
.date{
  font-size: 2vw;
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 0;
  margin-left: 3vw;
  transform: translate(50%, 0);
}
@media screen and (max-width: 450px){
  .mainstop{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13vw !important;
    z-index: 1;
    position: relative;
    padding: 4vw !important;
    /* padding: 2vw 2vw 0vw 2vw !important; */
  }
  .date{
    display: inline-block;
    font-size: 6vw !important;
    position: absolute !important;
    bottom: 0;
    left: 0 !important;
    margin-left: 0px !important;
  }
}
@media screen and (max-width: 991px){
  .mainstop{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5vw;
    z-index: 1;
    position: relative;
    /* padding: 2vw 2vw 8vw 2vw !important; */
  }
  .date{
    font-size: 3vw;
    position: absolute;
    bottom: 0 !important;
    left: 0 !important;
    margin-left: 0px !important
  }
}

                                                    /* Digital Clock ends  */

                                                    /* Project page main start  */
.projectcenter{
    color: white;
    /* max-height: 500px; */
    /* background-color: rgb(33,37,41); */
    overflow:scroll !important;
    position: relative !important;
    /* z-index: 100 !important; */
    opacity: 100 !important;
    font-size: 3vw !important;
    font-weight: 400;
    overflow: hidden !important;
    animation: newanimation 3s !important  ;
    animation-direction: alternate !important;
    animation-iteration-count: infinite;
  }
  @keyframes newanimation {
    from{color: rgb(33, 37, 41);}
    to{color: white;}
  }
  .projectcenterdis1{
    font-size: 2vw !important;
  }
  .firstletter2{
    color: greenyellow;
    font-weight: bold;
  }
  @media screen and (max-width: 991px){
    .projectcenter{
        color: white;
        background-color: rgb(33,37,41);
        overflow:scroll !important;
        position: relative !important;
        opacity: 100 !important;
        font-size: 5vw !important;
        overflow: hidden !important;
      }
  }
  @media screen and (max-width: 450px){
    .projectcenter{
        display: none;
      }
      .projectcenter2{
        width: 90vw;
        transform: translate(0px,-50px);
        display: block !important;
        color: white;
        background-color: rgb(33,37,41);
        overflow:scroll !important;
        position: relative !important;
        opacity: 100 !important;
        font-weight: 300;
        font-size: 15vw !important;
        overflow: hidden !important;
        animation: aboutanimation2 3s;
  animation-direction: alternate;
  animation-iteration-count: 1;
      }
      .projectcenterdis{
        font-size: 6vw !important;
        display: block;
        animation: displaychange 0.5s  ;
        animation-direction: alternate;
        animation-iteration-count: infinite;
      }
      @keyframes displaychange {
        from {display: none !important;}
        to {display: block !important;}
      }

  }
 
                                                                /* About Start  */
.aboutstart{
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  /* background-color: black; */
}
.mainabout{
  height: 60%;
  /* background-color: aqua; */
  width: 50%;
}
.image{
  float: left;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  padding: 10px;
  /* background-color: red; */
}
.text{
  float: left;
  width: 50%;
  height: 100%;
  vertical-align:middle;
  z-index: 10;
  padding: 10px;
  /* border: 1px solid rgb(123, 123, 123); */
  box-shadow: 0px 0px 10px white;
  animation: aboutanimation 4s;
  animation-direction: alternate;
  animation-iteration-count: 1;
  /* background-color: rgb(46, 158, 255); */
}
.vishaw{
  height: auto;
  max-height: 30vh;
  border-radius: 50%;
  border: 1px solid rgb(181, 181, 181);
  box-shadow: 0px 0px 10px white;
  z-index: 1;
  overflow: hidden;
  animation: aboutanimation2 2s;
  animation-direction: alternate;
  animation-iteration-count: 1;
}
.heading{
  height: 20%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}
.heading h1{
  border-bottom: 1px solid limegreen;
}
.parah{
  height: 80%;
  display: flex;
  align-items: center;
  /* background-color: brown; */
  overflow: scroll;
}
.parah::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.parah {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

@media screen and (max-width:990px) {
  .mainabout{
    width: 90%;
    height: 40%;
  }
}
@media screen and (max-width:450px) {
  .mainabout{
    width: 90%;
    height: 80%;
  }
  .image{
    float: none;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    padding: 10px;
    /* background-color: red; */
  }
  .text{
    float: none;
    width: 100%;
    height: 100%;
    vertical-align:middle;
    z-index: 10;
    padding: 15px;
    /* border: 1px solid rgb(123, 123, 123); */
    box-shadow: none;
    /* background-color: rgb(46, 158, 255); */
    margin-bottom: 50px;
  }
  .heading{
    height: 12%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .parah{
    height: auto;
    padding: 10px;
    align-items:flex-start;
    background-color: brown;
    overflow: scroll;
  }
}
@keyframes aboutanimation {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes aboutanimation2 {
  from {opacity: 0;}
  to {opacity: 1;}
}

                                                              /* about end  */
                                                              /* contact start  */
.contactstart{
  width: 100vw;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  animation: aboutanimation2 3s;
  animation-direction: alternate;
  animation-iteration-count: 1;
}
.contactstart form h2{
  text-align: center;
  padding: 10px;
}
.red{
  color: limegreen;
}
.buttonbackgroundcontact{
  background-color: limegreen !important;
  border-color: limegreen !important;
}
.buttonbackgroundcontact:focus{
  outline: none !important;
  box-shadow: 0px 0px 2px limegreen !important;
}
.buttonbackgroundcontact:hover{
  background-color: rgb(44, 175, 44) !important;
  outline: none !important;
}
.formwidth{
  width: 30vw !important;
}
.form-control:focus {
  box-shadow: 0px 0px 2px limegreen !important;
  border-color: limegreen !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

@media screen and (max-width:990px) {
  .formwidth{
    width: 50vw !important;
  }
}
@media screen and (max-width:450px) {
  .formwidth{
    width: 70vw !important;
    padding-bottom: 10px;
  }
}